<% provide(:title, "The To-Do List") %>

<h1>The To-Do List!</h1>

<p>Use this app to make a to-do_list of your choice! </br >
You may add tasks, check them off as done, and reorder with click and drag.</p>

<hr>

<ul class="lists">
	<% @list.each do |list| %>
		<li class="drag">
			<%= link_to list.name, list %>   | 
			<%= link_to "Check Off", list, method: :delete , data: { confirm: "You Sure?" } %>	
		</li>
	<%end%>
</ul>
</br>
</br>
<%= link_to "Create a new list!", newlist_path %>
