// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* lists index*/
body{background-color:#009900;}

h1{
	color: white;
 font:72; 
}

 	a:link{text-decoration:none; 
		  color: white;
		  }
	a:visited{text-decoration:none; 
		  color: white;
		  }
	a:hover{text-decoration:underline;
	         color: black;
	        } 

p {color: white}

hr {color: white;}

.lists {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    }
    }


  input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}