// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* lists index*/

h1{
	color: #008B00;
}

 	a:link{text-decoration:none; 
		  color: #00C957;
		  }
	a:visited{text-decoration:none; 
		  color: #00C957;
		  }
	a:hover{text-decoration:underline;
	         color:orange;
	        } 

p {color: #458B00}

hr {color: green;}

.lists {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    }
    }


  input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}